# Python 가상 환경 및 VS Code 폴더 무시
.venv/
.vscode/

# 캐시 파일 무시
__pycache__/

# 모델 체크포인트 파일 무시
saved_weights/
*.pt
*.pth

# dataset 관련 파일 무시
dataset/
*.npz
*.npy

# Key 파일 무시
keys.json

# 로그 파일 무시
logs/
*.log
*.out

# 레거시 무시
legacy/
final_results_/
final_results__/

# 용량이 큰 파일 무시 --> 결과 파일들이므로 이는 final_results 폴더에서 확인
ibm_experiment/results/
ionq_experiment/results/
stim_simulation/test_results_(legacy)/