absl-py==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
attrs==25.4.0
beliefmatching==0.2.0
causal_conv1d==1.6.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.5
cuda-bindings==13.2.0
cuda-core==0.7.0
cuda-pathfinder==1.5.4
cudensitymat-cu13==0.5.2
cupauliprop-cu13==0.3.2
cupy-cuda13x==14.0.1
cuquantum-python-cu13==26.3.2
custabilizer-cu13==0.3.0
custatevec-cu13==1.13.1
cutensor-cu13==2.6.0
cutensornet-cu13==2.12.2
cycler==0.12.1
decorator==5.2.1
dill==0.4.1
einops==0.8.1
filelock==3.20.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
grpcio==1.80.0
hf-xet==1.2.0
huggingface-hub==0.36.0
hydra-core==1.3.2
ibm-cloud-sdk-core==3.24.4
ibm-platform-services==0.74.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
ldpc==2.4.1
mamba_ssm==2.3.0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
multidict==6.7.0
networkx==3.5
ninja==1.13.0
numpy==2.2.6
nvidia-cublas==13.0.0.19
nvidia-cuda-cupti==13.0.48
nvidia-cuda-nvrtc==13.0.48
nvidia-cuda-runtime==13.0.48
nvidia-cudnn-cu13==9.13.0.50
nvidia-cufft==12.0.0.15
nvidia-cufile==1.15.0.42
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.3.29
nvidia-cusparse==12.6.2.49
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.27.7
nvidia-nvjitlink==13.0.39
nvidia-nvshmem-cu13==3.3.24
nvidia-nvtx==13.0.39
nvmath-python==0.9.0
omegaconf==2.3.0
packaging==25.0
pandas==2.3.3
pillow==11.3.0
pluggy==1.6.0
propcache==0.4.1
protobuf==7.35.0
psutil==7.2.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PyJWT==2.12.1
PyMatching==2.3.1
pyparsing==3.2.5
pyspnego==0.12.1
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
PyYAML==6.0.3
qecsim==1.0b9
qiskit==2.3.1
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.45.1
qiskit-ionq==1.0.2
regex==2026.1.15
requests==2.32.5
requests_ntlm==1.3.0
rustworkx==0.17.1
safetensors==0.7.0
scipy==1.16.3
setuptools==80.9.0
sinter==1.15.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
stevedore==5.7.0
stim==1.15.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tokenizers==0.22.2
torch==2.9.1+cu130
torch-geometric==2.7.0
torchinfo==1.8.0
torchvision==0.24.1+cu130
tqdm==4.67.1
transformers==4.57.6
triton==3.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
Werkzeug==3.1.8
wheel==0.45.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
